body {
  background-color: maroon;
}

.viewer-content {
  & + .js-off-canvas-overlay {
    z-index: 1007;
  }
}

.frame-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.frame-content {
  flex-grow: 1;
  border: 0;
}

.hide-scroll {
  overflow: hidden;
}

html.is-reveal-open.zf-has-scroll.hide-scroll {
  overflow: hidden;
}