body {
  background-color: maroon;
}

.viewer-content {
  width: 50%;
  z-index: 1006 !important;
  // 1006 since reveal-overlay is 1005
  // important since other classes overrides in runtime
}

.frame-content {
  width: 100%;
  height: 100%;
}

.hide-scroll {
  overflow: hidden;
  padding: 0;
}
